<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftCommonApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4539AC841D5136DD00D0ADE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4539AC9D1D5136DE00D0ADE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4539ACA81D5136DE00D0ADE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
